/* 
  * @desc: some variable for the project
  * @date: 2025-05-08
*/

@use "sass:map";
@use "sass:list";

// **** Generate variable function **** //
@function generate-vars($name, $models) {
  $color-map: ();
  @each $model, $index in $models {
    $color-map: map.merge(
      $color-map,
      (
        $model: var(--apsc-#{$name}-#{$model}),
      )
    );
  }
  @return $color-map;
}
@function generate-others($name) {
  $color-map: ();
  @each $model, $index in $models {
    $color-map: map.merge(
      $color-map,
      (
        $model: var(--apsc-#{$name}-#{$model}),
      )
    );
  }
  @return $color-map;
}

// **** Var name models **** //
$color-models: "base", "on-base", "container", "on-container";

// **** Plalette Colors **** //
$primary: generate-vars("primary", $color-models);

// **** Other Styles **** //
$edge: generate-vars("edge", $color-models);
